# Basic Exercises on Data Importing - Understanding - Manipulating - Analysis - Visualization

## Section-1: The pupose of the below exercises (1-7) is to create dictionary and convert into dataframes, how to diplay etc...
## The below exercises required to create data

### 1. Import the necessary libraries (pandas, numpy, datetime, re etc)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns


# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seabor graphs to a better style
sns.set(style="ticks")

### 2. Run the below line of code to create a dictionary and this will be used for below exercises

In [ ]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### 3. Assign it to a object called pokemon and it should be a pandas DataFrame

In [ ]:
pokemon = pd.DataFrame(data = raw_data)
pokemon

### 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [ ]:
pokemon.loc[ : : , ['name','type','hp','evolution','pokedex']]
pokemon

### 5. Add another column called place, and insert places (lakes, parks, hills, forest etc) of your choice.

In [ ]:
pokemon.insert(5, 'places',['lakes','parks','hills','forest'])
pokemon

### 6. Display the data type of each column

In [ ]:
pokemon.dtypes

### 7. Display the info of dataframe

In [ ]:
pokemon.info()

## Section-2: The pupose of the below exercise (8-20) is to understand deleting data with pandas.
## The below exercises required to use wine.data

### 8. Import the dataset *wine.txt* from the folder and assign it to a object called wine

Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [ ]:
wine = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\wine.txt",header = None)
wine.head()

### 9. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [ ]:
wine.drop([0,3,6,8,10,12,13], axis = 1, inplace = True )

### 10. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
wine.rename({1:'alcohol',2:'malic_acid',4:'alcalinity_of_ash',5:'magnesium',7:'flavanoids',9:'proanthocyanins',
                    11:'hue'} ,axis = 1, inplace = True)
wine

### 11. Set the values of the first 3 values from alcohol column as NaN

In [ ]:
wine.alcohol.iloc[0:3] = np.NaN
wine

### 12. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
wine.magnesium.iloc[3:5] = np.NaN

wine

### 13. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
wine.alcohol.fillna(10)
wine.magnesium.fillna(100)

### 14. Count the number of missing values in all columns.

In [ ]:
wine.isna().sum()

### 15.  Create an array of 10 random numbers up until 10 and save it.

In [ ]:
a1 = np.random.randint(0,11,10)
a1

### 16.  Set the rows corresponding to the random numbers to NaN in the column *alcohol*

In [ ]:
wine.alcohol.iloc[3:5] = np.NaN
wine

### 17.  How many missing values do we have now?

In [ ]:
wine.isna().sum()

### 18. Print only the non-null values in alcohol

In [ ]:
wine.loc[wine.alcohol.notnull(), 'alcohol']

### 19. Delete the rows that contain missing values

In [ ]:
wine.dropna(axis=0,inplace=True)

### 20.  Reset the index, so it starts with 0 again

In [ ]:
wine.reset_index()

## Section-3: The pupose of the below exercise (21-27) is to understand ***filtering & sorting*** data from dataframe.
## The below exercises required to use chipotle.tsv

This time we are going to pull data directly from the internet.  
Import the dataset directly from this link (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and create dataframe called chipo

In [ ]:
chipo = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\chipotle.tsv",sep = '\t')
chipo

### 21. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [ ]:
chipo['item_price']= chipo.item_price.str.replace('$','')

In [ ]:
chipo['item_price'] = chipo.item_price.astype('float')

chipo.loc [chipo.item_price >10.00 ].shape[0]

### 22. Print the Chipo Dataframe & info about data frame

In [ ]:
chipo

In [ ]:
chipo.info

### 23. What is the price of each item? 
- Delete the duplicates in item_name and quantity
- Print a data frame with only two columns `item_name` and `item_price`
- Sort the values from the most to less expensive

In [ ]:
chipo.drop_duplicates(subset = ['item_name','item_price'], inplace =True )
chipo.loc[ : : , ['item_name','item_price']].sort_values (by = 'item_price' , ascending = False)

### 24. Sort by the name of the item

In [ ]:
chipo.loc[ : : , ['item_name','item_price']].sort_values (by = 'item_name' )

### 25. What was the quantity of the most expensive item ordered?

In [ ]:
sum = chipo.loc[ : : ,['item_price','quantity']].sort_values( by = 'item_price', ascending = False) 
sum.quantity.head(1)

### 26. How many times were a Veggie Salad Bowl ordered?

In [ ]:
chipo.loc [chipo.item_name =='Veggie Salad Bowl'].count()[1]

### 27. How many times people orderd more than one Canned Soda?

In [ ]:
chipo.loc[ (chipo.item_name =='Canned Soft Drink') & (chipo.quantity > 1 ),'order_id'] .count()

## Section-4: The purpose of the below exercises is to understand how to perform aggregations of data frame
## The below exercises (28-33) required to use occupation.csv

###  28. Import the dataset occupation.csv and assign object as users

In [ ]:
users = pd.read_csv(r'C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\occupation.csv', sep = '|')
users

### 29. Discover what is the mean age per occupation

In [ ]:
pd.DataFrame(users.groupby(by = 'occupation').age.mean())

### 30. Discover the Male ratio per occupation and sort it from the most to the least.

Use numpy.where() to encode gender column.

In [ ]:
genders = users.groupby("occupation")["gender"].value_counts(normalize=True)*100
genders.head()

In [ ]:
gendersn = pd.DataFrame(genders)
gendersn.rename(columns={"gender":"percent"}, inplace=True)
gendersn.head()

In [ ]:
new_gen = pd.DataFrame(gendersn.reset_index(level=["occupation", "gender"]))
new_gen.head()

In [ ]:
males = new_gen[new_gen["gender"] == "M"].sort_values(by="percent",ascending=False)
males

### 31. For each occupation, calculate the minimum and maximum ages

In [ ]:
users.groupby( by = 'occupation').age.agg(['min','max'])

### 32. For each combination of occupation and gender, calculate the mean age

In [ ]:
pd.DataFrame(users.groupby(['occupation','gender']).age.mean())

### 33.  For each occupation present the percentage of women and men

In [ ]:
ogc= pd.crosstab(index = users.occupation, columns=users.gender)
ogc

In [ ]:
ogc['Total_Count'] = ogc.loc[: : , ['F','M']].sum(axis = 1)
ogc.head(3)

In [ ]:
ogc['Male%'] = (ogc.M/ogc.Total_Count)*100
ogc

In [ ]:
ogc['Female%'] = (ogc.M/ogc.Total_Count)*100
ogc

In [ ]:
ogc.loc[: : , ['Female%','Male%']]

## Section-6: The purpose of the below exercises is to understand how to use lambda-apply-functions
## The below exercises (34-41) required to use student-mat.csv and student-por.csv files

In [ ]:
sm = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\student-mat.csv")
sp = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\student-por.csv")
sm.head(3)

In [ ]:
sp.head(3)

### 34. Import the datasets *student-mat* and *student-por* and append them and assigned object as df

In [ ]:
df = sm.append(sp)
df.head(3)

### 35. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [ ]:
df.iloc[ : : , 0:12]

### 36. Create a lambda function that captalize strings (example: if we give at_home as input function and should give At_home as output.

In [ ]:
df.apply(lambda x : x.str.upper() if isinstance(x, str) else x)

### 37. Capitalize both Mjob and Fjob variables using above lamdba function

## **Done above**

### 38. Print the last elements of the data set. (Last few records)

In [ ]:
df.tail(1)

### 39. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

## **DONE Above**

### 40. Create a function called majority that return a boolean value to a new column called legal_drinker

In [ ]:
majority = lambda x : True if x >=18 else False

In [ ]:
df['legal_drinker'] = df.age.apply(majority)
df.head(3)

In [ ]:
df.head(3)

### 41. Multiply every number of the dataset by 10.

In [ ]:
d2 = df.select_dtypes(include =np.int64 )
d3 = d2*10
d3

## Section-6: The purpose of the below exercises is to understand how to perform simple joins
## The below exercises (42-48) required to use cars1.csv and cars2.csv files

### 42. Import the datasets cars1.csv and cars2.csv and assign names as cars1 and cars2

In [ ]:
cars1 = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\cars1.csv")
cars2 = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\cars2.csv")

In [ ]:
cars2.head(3)

In [ ]:
cars1.head(3)

   ### 43. Print the information to cars1 by applying below functions 
   hint: Use different functions/methods like type(), head(), tail(), columns(), info(), dtypes(), index(), shape(), count(), size(), ndim(), axes(), describe(), memory_usage(), sort_values(), value_counts()
   Also create profile report using pandas_profiling.Profile_Report

In [ ]:
cars1.type()
cars1.head()
cars1.tail()
cars1.columns()
cars1.info()
cars1.dtypes()
cars1.index()
cars1.shape()
cars1.count()
cars1.size()
cars1.ndim()
cars1.axes()
cars1.describe()
cars1.memory_usage()
cars1.sort_values()
cars1.value_counts()

In [ ]:
pip install pandas-profiling

In [ ]:
from pandas_profiling import ProfileReport

ProfileReport(cars1)

### 44. It seems our first dataset has some unnamed blank columns, fix cars1

In [ ]:
cars1.drop(columns = ['Unnamed: 9','Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'] , inplace = True)

### 45. What is the number of observations in each dataset?

In [ ]:
cars2.shape[0]

In [ ]:
cars1.shape[0]

### 46. Join cars1 and cars2 into a single DataFrame called cars

In [ ]:
cars = pd.merge(left = cars1, right = cars2 , how ='inner'  , on = 'car',suffixes = ('_cars1','_cars2'))
cars.head(2)

### 47. There is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
cars['owners'] = np.random.randint(15000,73001)
cars.head(2)

### 48. Add the column owners to cars

### Done Above

## Section-7: The purpose of the below exercises is to understand how to perform date time operations

### 49. Write a Python script to display the
- a. Current date and time
- b. Current year
- c. Month of year
- d. Week number of the year
- e. Weekday of the week
- f. Day of year
- g. Day of the month
- h. Day of week

In [ ]:
import datetime as dt

***CURRENT DATE AND TIME***

In [ ]:
current_date = dt.datetime.today()
current_date

***CURRENT YEAR***

In [ ]:
c_y = dt.datetime.now()
c_y.year

***MONTH OF YEAR***

In [ ]:
c_y.month

***Week day of the week***

In [ ]:
c_y.weekday()

***Day of month***

In [ ]:
DAY = dt.datetime.now()
DAY.day

***Day of the year***

In [ ]:

date = dt.datetime.strptime("2015-06-01 00:00:00",
                                  "%Y-%m-%d %H:%M:%S")

print (date.timetuple().tm_yday)

***Day of week***

In [ ]:
DAY.weekday()

### 50. Write a Python program to convert a string to datetime.
Sample String : Jul 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [ ]:
D1 =  'Jul 1 2014 2:43PM'

In [ ]:
s1 = pd.to_datetime(D1, format = '%b %d %Y %I:%M%p')
print(s1)

In [ ]:
E_O = s1.strftime('%Y-%m-%d %H:%M:%S')
E_O

### 52. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [ ]:
import datetime as dt
print(
    dt.datetime.fromtimestamp(
        int("1284105682")
    ).strftime('%Y-%m-%d %H:%M:%S')
)

### 53. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [ ]:
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])
DoB

In [ ]:
s=pd.to_datetime(DoB, format ='%d%b%y')
s

a = pd.DateOffset(years = -100)

final_date = a + s
print(final_date)

### 54. Write a Python program to get days between two dates.

In [ ]:
d1 = pd.Timestamp.now()
s1 
print(d1)
print(s1)
no_of_days = d1-s1
print( 'no.of.days:' ,no_of_days.days)

### 55. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [ ]:
Date = "15Dec1989"
Date

In [ ]:
d = pd.to_datetime(Date, format = '%d%b%Y')
d

In [ ]:
d2 = pd.DateOffset(years = 9)
d3 = d2+d
d1 = dt.datetime.strftime(d3,'%A, %d %b %y')
d1
print(d3)
print(d1)

## The below exercises (56-66) required to use wind.data file

### About wind.data:

The data have been modified to contain some missing values, identified by NaN.  

1. The data in 'wind.data' has the following format:

"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""
The first three columns are year, month and day.  The remaining 12 columns are average windspeeds in knots at 12 locations in Ireland on that day.

In [ ]:
data = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\wind.data")
data.head(1)

### 56. Import the dataset wind.data and assign it to a variable called data and replace the first 3 columns by a proper date time index

In [ ]:

data["Date"] = pd.to_datetime(data[["Yr","Mo","Dy"]].astype(str).agg('-'.join, axis=1))
data = data.drop(columns=["Yr","Mo","Dy"])
data.head()

In [ ]:
data.dtypes

### 57. Year 2061 is seemingly imporoper. Convert every year which are < 70 to 19XX instead of 20XX.

In [ ]:
data["Date"] = np.where(pd.DatetimeIndex(data["Date"]).year < 2000,data.Date,data.Date - pd.offsets.DateOffset(years=100))
data.Date

### 58. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [ ]:
newData = data.set_index("Date")
newData.index.astype("datetime64[ns]")

### 59. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [ ]:
print(newData.isnull().values.ravel().sum())

### 60. Compute how many non-missing values there are in total.

In [ ]:
x=newData.count()
print("Total Non-missing values are :",x.sum())

### 61. Calculate the mean windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [ ]:
y = newData.mean()
y.mean()

### 62. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [ ]:
newData

In [ ]:
def stats(x):
    x = pd.Series(x)
    Min = x.min()
    Max = x.max()
    Mean = x.mean()
    Std = x.std()
    res = [Min,Max,Mean,Std]
    indx = ["Min","Max","Mean","Std"]
    res = pd.Series(res,index=indx)
    return res
loc_stats = newData.apply(stats)
loc_stats

### 63. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [ ]:
day_stats = newData.apply(stats,axis=1)
day_stats.head()

### 64. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [ ]:
january_data = newData[newData.index.month == 1]
print ("January windspeeds:")
print (january_data.mean())

### 65. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [ ]:
newData.groupby(lambda d: (d.month, d.year))

In [ ]:
newdata = newData.groupby(lambda d: (d.month, d.year))
print ("Mean wind speed for each month in each location")
print (newdata.mean())

### 66. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [ ]:
first_year = newData[newData.index.year == 1961]
stats1 = newData.resample('W').mean().apply(lambda x: x.describe())
print (stats1)

## The below exercises (67-70) required to use appl_1980_2014.csv  file

### 67. Import the file appl_1980_2014.csv and assign it to a variable called 'apple'

In [ ]:
apple = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\appl_1980_2014.csv")
apple.head(3)

### 68.  Check out the type of the columns

In [ ]:
apple.dtypes

### 69. Transform the Date column as a datetime type

In [ ]:
apple['Date'] = pd.to_datetime(apple.Date)
apple.dtypes

### 70.  Set the date as the index

In [ ]:
apple.set_index('Date')

### 71.  Is there any duplicate dates?

In [ ]:
apple.Date.duplicated().sum()

### 72.  The index is from the most recent date. Sort the data so that the first entry is the oldest date.

In [ ]:
apple.sort_values('Date').reset_index(drop = True)

### 73. Get the last business day of each month

In [ ]:
apple["month"] = pd.DatetimeIndex(apple.Date).month
apple["Date_wo"] = pd.DatetimeIndex(apple.Date).day
apple.groupby(by="month")[["Date_wo"]].max().reset_index()

### 74.  What is the difference in days between the first day and the oldest

In [ ]:
differnce = apple.Date.max() - apple.Date.min() 
differnce

In [ ]:
diff = str(differnce)
diff

### 75.  How many months in the data we have?

In [ ]:
months = apple["month"].count()
months

## Section-8: The purpose of the below exercises is to understand how to create basic graphs

### 76. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

In [ ]:
apple.head()

In [ ]:
apple.rename(columns = {'Adj Close':'Adj_Close'}, inplace = True)

In [ ]:
plt.figure(figsize=(13.5, 9))
apple.Adj_Close.plot(kind = 'hist')
plt.show()

## The below exercises (77-80) required to use Online_Retail.csv file

### 77. Import the dataset from this Online_Retail.csv and assign it to a variable called online_rt

In [ ]:
online_rt = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\New folder\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\Online_Retail.csv",encoding='unicode_escape')
online_rt.head(3)

### 78. Create a barchart with the 10 countries that have the most 'Quantity' ordered except UK

In [ ]:
ort = (online_rt.groupby('Country').Quantity.max()).sort_values(ascending = False).head(11)
ort.drop(index = 'United Kingdom', inplace = True)
ort.plot(kind = 'barh')

### 79.  Exclude negative Quantity entries

In [ ]:
new_data = online_rt.loc [online_rt.Quantity >1] 
new_data.head(2)

### 80. Create a scatterplot with the Quantity per UnitPrice by CustomerID for the top 3 Countries
Hint: First we need to find top-3 countries based on revenue, then create scater plot between Quantity and Unitprice for each country separately

In [ ]:
online_rt['revenue'] = online_rt.Quantity * online_rt.UnitPrice
online_rt.groupby('Country').revenue.sum().head(3)

In [ ]:
import seaborn as sns

In [ ]:
asdf = pd.DataFrame(online_rt.groupby('Country')['Quantity','UnitPrice'].sum().head(3))
asdf

sns.pairplot(asdf)

## The below exercises (81-90) required to use FMCG_Company_Data_2019.csv file

### 81. Import the dataset FMCG_Company_Data_2019.csv and assign it to a variable called company_data

In [ ]:
company_data = pd.read_csv(r"C:\Users\ifixthat\Downloads\Compressed\2. Basic Data Manipulation - Visualization Exercise\Exercise Data Files\FMCG_Company_Data_2019.csv")
company_data.head(3)
company_data.info()

### 82. Create line chart for Total Revenue of all months with following properties
- X label name = Month
- Y label name = Total Revenue

In [ ]:
company_data.plot(x= 'Month' , y = 'Total_Revenue' , kind = 'line' , xlabel = 'Month' , ylabel = 'Total Revenue')
plt.show()

### 83. Create line chart for Total Units of all months with following properties
- X label name = Month
- Y label name = Total Units
- Line Style dotted and Line-color should be red
- Show legend at the lower right location.

In [ ]:
plt.figure(figsize = (15,5))
plt.plot('Month' , 'Total_Units' , data = company_data , color='red', linestyle='dotted' )
plt.xlabel('Month')
plt.ylabel('Total Units')
plt.title(' Total Units per month')
plt.legend(loc = 4)
plt.show()

### 84. Read all product sales data (Facecream, FaceWash, Toothpaste, Soap, Shampo, Moisturizer) and show it  using a multiline plot
- Display the number of units sold per month for each product using multiline plots. (i.e., Separate Plotline for each product ).

In [ ]:
plt.plot('Total_Units','FaceCream', linestyle='-', label="Face cream Sales Data" , data = company_data)
plt.plot('Total_Units','FaceWash', linestyle='-', label="Face Wash Sales Data",data = company_data )
plt.plot('Total_Units','ToothPaste', linestyle='-', label="ToothPaste Sales Data",data = company_data)
plt.plot('Total_Units','Moisturizer', linestyle='-', label="Moisturizer Sales Data" ,data = company_data)
plt.plot('Total_Units','Shampo', linestyle='-', label="Shampoo Sales Data",data = company_data)
plt.xlabel("Months Number")
plt.ylabel("Sales units in number")
plt.legend(loc='upper right', bbox_to_anchor=(1.8, 0.5))

plt.show()

### 85. Create Bar Chart for soap of all months and Save the chart in folder

In [ ]:
company_data.head(4)

In [ ]:
plt.figure(figsize = (15,8))
plt.bar('Month' , 'Soap' , data = company_data ,color = 'red' ,edgecolor = 'black' ) 
plt.xlabel("Month")
plt.ylabel('soap units')

### 86. Create Stacked Bar Chart for Soap, Shampo, ToothPaste for each month
The bar chart should display the number of units sold per month for each product. Add a separate bar for each product in the same chart.

In [ ]:
cd = company_data[['ToothPaste','Soap','Shampo','Month']]
cd.head(2)

In [ ]:
cd.plot(kind = 'bar', stacked = True)
plt.xlabel('Months')
plt.ylabel('Items')
plt.title('Items sold per month')
plt.show()

### 87. Create Histogram for Total Revenue

In [ ]:
sns.histplot(company_data.Total_Revenue)
plt.show()

### 88. Calculate total sales data (quantity) for 2019 for each product and show it using a Pie chart. Understand percentage contribution from each product

In [ ]:
cd1 = company_data.iloc[ : : , 1:7]
cd1 = cd1.sum()
cd1.index

In [ ]:
plt.pie(cd1 , labels = ['FaceCream', 'FaceWash', 'ToothPaste', 'Soap', 'Shampo', 'Moisturizer'] , autopct='%1.1f%%' )
plt.show()

### 89. Create line plots for Soap & Facewash of all months in a single plot using Subplot

In [ ]:
ax[0].plot(company_data.Soap)
ax[1].plot(company_data.FaceWash)

In [ ]:
fig

In [ ]:
fig,ax =  plt.subplots(1,2 , figsize = (15,5))

### 90. Create Box Plot for Total Profit variable

In [ ]:
company_data.Total_Profit.plot(kind = 'box')